<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
{% if page.title == "index" %}
	<title>{{ site.title }}</title>
{% else %}
	<title>{{ page.title }} &ndash; {{ site.title }}</title>
{% endif %}
    <meta name="description" content="">
    <meta name="author" content="">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">


    <link rel="stylesheet" href="../../css/main.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="css/main.css">

	<link rel="prefetch" href="images/forestbg.jpg">
	<link rel="prefetch" href="images/forestbg_mobile.jpg">
	<link rel="prefetch" href="images/mainbg_1920.jpg">
</head>

<body id="{{ page.id }}">



{% if page.title == "index" %}
{% include frontheader.html %}
{% else %}
{% include header.html %}


{% if page.id == "bio" %}
<div class="container" id="content">
    <div class="row">
        <div class="right halfdesk showmindesk">
		<h2>{{ page.title }}</h2>
		</div>
        <div class="ten columns offset-by-one showmaxdesk">
		<h2>{{ page.title }}</h2>
		</div>
	</div>
</div>

<div class="bioimage">
<div class="imgshadow"><img src="../../images/forest_bw.jpg" style="width: 100%;" class="DISpicture" /></div>
</div>

<div style="clear: both;"></div>
{% endif %}





<div class="container" id="content">
    <div class="row">
        <div>
            {% if page.id == "bio" %}
            <div class="right halfdesk showmindesk">
                {{ content }}
            </div>
            <div class="ten columns offset-by-one showmaxdesk">
                {{ content }}
            </div>
            {% elsif page.id == "news" %}
            <div class="columns">
                <img src="../../images/forestfg.jpg" alt="Anni Laukkanen" class="picture" style="width: 50%; float: right; margin: 10px;"/>
                <h2>{{ page.title }}</h2>
                {{ content }}
            </div>
            {% elsif page.id == "pictures" %}
            <div class="column" style="max-width: 615px; margin: 0 auto; float: none">
                <h2>{{ page.title }}</h2>
				<br/>
                {{ content }}
            </div>
            {% elsif page.id == "contact" %}
            <div class="halfdesk right">
                <h2>{{ page.title }}</h2>
                {{ content }}
            </div>
            {% else %}
            <div class="ten columns offset-by-one">
                {{ title }}
                <h2>{{ page.title }}</h2>
				<br/>
                {{ content }}
            </div>
            {% endif  %}
        </div>
    </div>
</div>
{% endif  %}

{% include footer.html %}
</body>
</html>
